@import url("../fonts/stylesheet.css");

/* general */

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Mariupol', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../images/map.jpg) no-repeat center center / cover fixed black;
    color: azure;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mariupol-symbols {
    font-family: 'Mariupol Symbols', 'Mariupol', Arial, Helvetica, sans-serif;
}

/* header */

header {
    display: flex;
    line-height: 80px;
    margin-bottom: 35px;
    background-color: rgba(0, 0, 0, 0.445);
}

header > div {
    display: flex;
    flex-direction: row;
    width: 600px;
}

#logo-icon {
    font-size: 48px;
    margin-left: 3%;}

#logo {
    font-size: 32px;
    margin-left: 2%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav {
    margin-left: auto;
    margin-right: 3%;
}

ul {
    display: flex;
}

nav li {
    margin: 0   10px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: azure;
}

a:hover {
    color: brown;
}

.active {
    text-decoration: underline;
}

/* section */

section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

section h1 {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.block {
    margin-bottom: 50px;
}

.block h2 {
    font-size: x-large;
    /* margin-left: 10%; */
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

hr {
    border-top: 2px solid azure;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.block-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    height: 300px;
}

.block-content-image {
    width: 50%;
}

.block-content-image img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.block-content-text {
    width: 50%;
    padding: 2% 3% 2% 3%;
    display: flex;
    flex-direction: column;
}

.block-content-text h3 {
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}

.block-content-text-description {
    margin-bottom: 25px;
}

.block-content-text p {
    text-align: justify;
    margin-bottom: 10px;
}

.block-content-text a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    width: 150px;
    height: 50px;

    line-height: 50px;
    font-size: 18px;

    border-radius: 5px;
    background-color: brown;
}

.block-content-text a:hover {
    background-color: azure;
    color: brown;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.445);
}

.footer-section {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.footer-section > div {
    width: 30%;
    margin: 0 30px 30px 30px;
}

.footer-header {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 5px;
    width: 100%;
}

.footer-contacts > p {
    width: 80px;
    margin-bottom: 5px;
}

.footer-contacts > a,
Address a {
    margin-left: 10px;
}

Address a {
    font-style: normal;
    display: flex;
    flex-direction: column;
}

iframe {
    width: 100%;
    height: 175px;
}

.footer-social {
    display: flex;
    flex-direction: column;
}

.footer-social > a {
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    line-height: 19px;
}

.footer-social > a > i {
    display: block;
    width: 30px;
    margin-left: 20%;
}

.footer-licence {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.footer-licence-text {
    text-align: center;
    margin-bottom: 5px;
}

@media screen and (max-width: 900px) {

    h1, .block h2 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .block-content {
        flex-direction: column;
        height: unset;
    }

    .flex-reverse {
        flex-direction: column-reverse;
    }

    .block-content-image {
        width: 100%;
        margin-bottom: 30px;
    }

    .block-content-text {
        width: 100%;
        padding: 0;
    }

    footer {
        height: 750px;
    }

    .footer-section {
        flex-direction: column;
    }

    .footer-section>div {
        width: 100%;
        margin: 0 auto;
        width: 350px;
    }

    .footer-contacts {
        flex-direction: row;
    }


    .footer-social {
        flex-direction: row;
    }

    .footer-social p {
        display: none;
    }

    .footer-social>a {
        margin: 0 auto;
    }

    .footer-social>a>i {
        width: unset;
        margin: 0;
    }

    .footer-licence {
        margin: 30px auto;
    }
}

@media screen and (max-width: 650px) {
    #logo {
        font-size: 24px;
        letter-spacing: normal;
    }

    section h1 {
        font-size: 24px;
    }

    .block h2 {
        font-size: 20px;
    }

    .block-content-text h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 510px) {
    header {
        flex-direction: column;
        line-height: 40px;
    }

    header>div {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 10px;
    }

    #logo-icon {
        /* font-size: 48px; */
        margin-left: auto;
    }

    #logo {
        /* font-size: 32px; */
        margin-left: 5%;
        margin-right: auto;

        /* text-transform: uppercase; */
        letter-spacing: 2px;
    }

    nav {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 420px) {

    footer {
        height: 835px;
    }

    .footer-section > div {
        width: 100%;
    }

    .footer-contacts {
        flex-direction: column;
        margin-left: unset;
        margin-bottom: 10px;
    }

    .footer-contacts>p {
        width: unset;
        margin: 0 auto;
    }

    .footer-contacts>a,
    Address a {
        margin-left: unset;
        margin: 0 auto;
    }

    Address a p {
        text-align: center;
    }
}

@media screen and (max-width: 310px) {

    #logo-icon {
        display: none;
    }

    #logo {
        /* letter-spacing: normal; */
        margin-left: auto;
    }

    footer {
        height: 900px;
    }
}